#fw {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/interest_selection-fitness.jpg");
}

#ca {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/interest_selection-culture_art.jpg");
}

#concert {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/interest_selection-concert_music.jpg");
}

#sa {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/interest_selection-sports.jpg");
}

#cinema {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/interest_selection-cinema.jpg");
}

#tt {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
                    	url("../images/interest_selection-tours.jpg");
}

#cw {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/interest_selection-courses.jpg");
}

#fe {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/interest_selection-food.png");
}

#yogaEvent {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/events-yoga.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}

#banksy {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/events-banksy.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}

#paint {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/events-paint.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}

#taco {
	background-image: linear-gradient(
                    	rgba(20,20,20, .5), 
                    	rgba(20,20,20, .5)),
						url("../images/events-taco.png");
	background-size:cover;
	background-repeat: no-repeat;
}

#klimt {
	background-image: linear-gradient(
                	rgba(20,20,20, .5), 
                	rgba(20,20,20, .5)),
					url("../images/events-klimt.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}

#miami {
	background-image: linear-gradient(
                	rgba(20,20,20, .5), 
                	rgba(20,20,20, .5)),
					url("../images/events-miami.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}

#wagyu {
	background-image: linear-gradient(
                	rgba(20,20,20, .5), 
                	rgba(20,20,20, .5)),
					url("../images/events-mc_kitchen.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}

#windsurf {
	background-image: linear-gradient(
                	rgba(20,20,20, .5), 
                	rgba(20,20,20, .5)),
					url("../images/events-windsurfing.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}

#zoo {
	background-image: linear-gradient(
                	rgba(20,20,20, .5), 
                	rgba(20,20,20, .5)),
					url("../images/events-zoo.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}

#illusions {
	background-image: linear-gradient(
                	rgba(20,20,20, .5), 
                	rgba(20,20,20, .5)),
					url("../images/events-moi.jpg");
	background-size:cover;
	background-repeat: no-repeat;	
}

#custard {
	background-image: linear-gradient(
                	rgba(20,20,20, .5), 
                	rgba(20,20,20, .5)),
					url("../images/events-tart.jpg");
	background-size:cover;
	background-repeat: no-repeat;	
}

#paddle {
	background-image: linear-gradient(
                	rgba(20,20,20, .5), 
                	rgba(20,20,20, .5)),
					url("../images/events-paddle.jpg");
	background-size:cover;
	background-repeat: no-repeat;	
}

