#main {
  text-align: center;
}

#logo {
	font-family: "Pacifico";
	text-align: center;
	color: #71b0b0;
	font-size: 30px;
}

.mainButton {
	margin: 40px;
	padding: 10px;
	border-color: #71b0b0;
	color: #71b0b0;
	border-radius: 16px;
	background-color: white;
	margin-left: 240px;
	font-family: "Nunito Sans";
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

.signUpForm {
	border-radius: 15px;
}

input[type=text] {
	margin: 5px;
	padding: 5px 15px;
	font-family: "Nunito Sans";
	color: #5C5C5C;
	border: none;
  border-radius: 8px;
  background-color: #EEEEEE;
}

#gmailLogin {
	color: #5C5C5C;
	font-size: 16px;
}

#interestGrid {
	display: inline-grid;
	grid-template-columns: 50% 50%;
	gap: 8px 8px;
}

.interestCell {
	display: flex;
	align-items: center;
  justify-content: center;
  aspect-ratio: 1;
	background-color: gray;
	border-radius: 8px;
	padding: 16px;
}

.timeFilter {
	display: inline-flex;
	flex-direction: row;
}

.timeList {
	margin: 16px;
}

#eventBox {
	display: inline-flex;
	flex-direction: column;
}

.eventCell {
	background-color: gray;
	border-radius: 8px;
	padding: 16px;
	margin: 8px;
}

body {
	font-family: "Nunito Sans";
}

