#main, nav {
  text-align: center;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*border: solid;
  border-color: black;*/
}

a {
	color: #5C5C5C;
}

a:link {
  text-decoration: none;
}

#navBar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#menu {
	padding-top: 16px;
	color: #71b0b0;
}

#logo {
	font-family: "Pacifico";
	text-align: center;
	color: #71b0b0;
	font-size: 30px;
}

.sideMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CBD6C8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sideMenu a:hover {
  color: #71B0B0;
}

.sideMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.mainButton {
	margin: 40px;
	padding: 8px;
	border-color: #71b0b0;
	border-style: solid;
	color: #71b0b0;
	border-radius: 16px;
	background-color: white;
	font-family: "Nunito Sans";
	box-shadow: 4px 4px #EEEEEE;
}

#arrowBtn {
	margin-left: 240px;
}

#interestBtn {
	padding-left: 16px;
	padding-right: 16px;
}

#purchaseButton, #returnBtn, #voucherButton {
	background-color: #FDEC9C;
	box-shadow: 4px 4px #5C5C5C;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

.signUpForm {
	border-radius: 15px;
}

input[type=text] {
	margin: 5px;
	padding: 5px 15px;
	font-family: "Nunito Sans";
	color: #5C5C5C;
	border: none;
  border-radius: 8px;
  background-color: #EEEEEE;
}

#gmailLogin {
	color: #5C5C5C;
	font-size: 16px;
}

#interestGrid {
	display: inline-grid;
	grid-template-columns: 50% 50%;
	gap: 8px 8px;
	color: white;
}

.interestCell {
	display: flex;
	align-items: center;
  justify-content: center;
  aspect-ratio: 1;
	background-color: gray;
	border-radius: 8px;
	padding: 16px;
	
}

.timeFilter {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: #5C5C5C;
}

.timeList {
	margin: 16px;
}

.defaultPage {
	color: #FD9F9D;
	text-decoration: underline;
}

.eventBox {
	display: inline-flex;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.eventCell {
	background-color: gray;
	border-radius: 8px;
	padding-top: 32px;
	margin: 8px;
}

.dateBox {
	position: absolute;
	right: 0;
	z-index: 1;
	border-radius: 8px;
	color: white;
	background-color: #FD9F9D;
	margin: -40px 24px 16px 0;
	width: 20%;
	padding: 0;
}

.date {
	margin: 5px;
}

.month {
	margin: 10px;
}

.eventText {
	padding-bottom: 0px;
	text-align: left;
	word-wrap: break-word;
	padding: 8px;
	display: grid;
	grid-template-rows: 50% 50%;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
  "title title"
  "price attendance"
}

.title {
	color: white;
	grid-area: title;
}

.price {
	color: white;
	margin-top: 4px;
	grid-area: price;
}

.attendance {
	color: white;
	margin-top: 4px;
	grid-area: attendance;
}

.eventCellFocus {
	background-color: gray;
	border-radius: 8px;
	padding: 96px;
	margin: 8px;
}

#about {
	margin: 8px;
	text-align: left;
}

.info {
	color: #5C5C5C;
}


#detail {
	display: grid;
	justify-content: space-around;
	text-align: left;
	width: 400px;
	grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "time duration"
  "location location"
 	"parking parking"
} 

.detailCell {
	display: grid;
	padding: 8px;
}

#time {
	grid-area: time;
}

#duration {
	grid-area: duration;
}

#location {
	grid-area: location;
}

#parking {
	grid-area: parking;
}

.reviewCell {
	background-color: #CBD6C8;
	border-radius: 8px;
	padding-top: 32px;
	padding: 16px;
	padding-bottom: 32px;
	margin: 8px;
	text-align: left;
}

.reviewName {
	margin: -8px 0 8px 0;
}

#sideModal {
  height: 75px;
  width: 0;
  position: fixed;
  bottom: 2%;
  left: 0;
  background: #000;
  z-index: 1000;
  display: none;
  overflow: hidden;
}

#reserve, #resSuccess, #eventPopup {
	width: 400px;
	height: 500px;
	border-radius: 16px;
	background-color: #FDEC9C;
}


.modal.open {
  transform: translateY(550px);
}

.modal.close {
  transform: translateY(-600px);
}

.eventModal.open {
	z-index: 1;
  transform: translateY(400px);
}

.modal {
  transition: transform 1s linear;
  transform: translateY(500%);
  position: fixed;
 /* z-index: 1;*/
  top: 0;
  overflow: auto;
}

/* Modal Content/Box */
.modal-content {
	padding-top: 32px;
  margin: auto;
}

#ticketQuant {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;

}

.quantBtn {
	background-color: white;
	width: 16px;
	height: 16px;
	color: #71b0b0;
	padding: 8px;
	font-size: 24px;
}

#ticketText {
	padding: 8px;
}

#paymentGrid {
	display: grid;
	grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "paypal applepay"
  "cc cc"
}

#cc {
	grid-area: cc;
}

#payMethod {
	text-align: left;
	color: #5C5C5C;
	margin: 8px;
}

.payBtn {
	margin: 4px;
	padding: 4px;
	border-radius: 8px;
	background-color: white;
	font-family: "Nunito Sans";
	border: none;
}

#voucherButton {
	margin-top: 20px;
}

#qr {
	width: 100px;
	height: 100px;
	border: solid 8px;
	border-color: white;
	border-radius: 16px;
}
body {
	font-family: "Nunito Sans";
}

