.splash {
  padding-top: 300px;
  text-align: center;
}

#logo {
	font-family: "Pacifico";
	text-align: center;
	color: #71b0b0;
	font-size: 30px;
}

.mainButton {
	margin: 40px;
	padding: 10px;
	border-color: #71b0b0;
	color: #71b0b0;
	border-radius: 15px;
	background-color: white;
	margin-left: 240px;
}

body {
}
